body{
    padding: 0%;
    margin: 0%;
    font-family: GeneralSans-Regular;
    color: white;
    background-color: black;
}
::selection{
    background-color: tomato;
    color: white;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: GeneralSans-Regular;
    src: url(GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf);
}

@font-face{
    font-family: Pilowfont;
    src: url(Pilowlava-Regular.otf);
}


.container {
    display: grid;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px  20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
    grid-template-columns:20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
  }

  .navbar{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 74;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 2px solid;
    border-left: white 2px solid;
  }

  li{
    list-style: none;
  }

  .logo{
    font-size: 35px;
    padding-left: 50px;
  }

.Supbut{
  margin-right: 30px;
  height: 33px;
  width: 100px;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 17px;
  font-size: 15px;
}

.container3{
  grid-row-start: 6;  
  grid-row-end: 21;   
  grid-column-start: 4;
  grid-column-end: 74;
  border: 2px solid white;  
  color: white;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 2px;
}

.hero{
  font-size: 50px;
  word-wrap: break-word;
  width: 1300px;
  font-family: GeneralSans-Regular;
  letter-spacing: 9px;
}

.container4{
  grid-row-start: 21;  
  grid-row-end: 28;   
  grid-column-start: 4;
  grid-column-end: 37;
  border: 2px solid white;  
  color: white;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
}

.heroP{
  font-size: 21px;
  text-align: left;
  word-wrap: break-word;
  width: 450px;
}
